<h1>Admin::Dashboard</h1>
<div class="container text-center">
  <div class="row">
    <div class="col">
      Products count
    </div>
    <div class="col">
      Categories count
    </div>    
  </div>
  <div class="row">
    <div class="col">
      <%= @all_products %>
    </div>
    <div class="col">
      <%= @all_categories %>
    </div>    
  </div>
</div>